/* Reset cơ bản */
body, h2, p, table, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mt-3 { margin-top: 1rem; }
.mt-5 { margin-top: 3rem; }
.mb-4 { margin-bottom: 1.5rem; }


body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, sans-serif;
    background-color: #f1f3f5;
}

/* Container chính */
.container {
    max-width: 1500px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

/* Tiêu đề */
h2,h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #343a40;
}


.filter-form {
    padding: 10px 15px;
    background-color: #a3b6ca;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    display: inline-block;
}

.filter_controller {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.filter-form label {
    width: 40px;
    font-size: 1.4rem;
    margin-right: 8px;
}

.filter-form select {
    font-size: 1.2rem;
    padding: 6px 4px;
    min-width: 160px;
}

.filter-form input[type='date'] {
    font-size: 1.2rem;
    padding: 6px 4px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.table th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: center;
    font-weight: 600;
    vertical-align: middle;
}

.table td {
    padding: 14px;
    vertical-align: middle;
    font-size: 1.2rem;
    font-weight: 400;
    color: #212529;
    border: 1px solid #dee2e6;
    background-color: #fafafa;
    vertical-align: middle;
}

.table td ul {
    list-style: disc;
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    color: #343a40;
}

/* Dòng xen kẽ */
.table tbody tr:nth-child(even) td {
    background-color: #f1f9ff;
}

/* Canh giữa cột trạng thái và hành động */
.table td:nth-child(4),
.table td:nth-child(5),
.table th:nth-child(4),
.table th:nth-child(5) {
    text-align: center;
}

/* Danh sách sản phẩm */
ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

li {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow-x: auto;
}

span {
    display: flex;
    flex-direction: row;
    margin-right: 12px;
}

/* Tổng tiền */
strong {
    display: block;
    color: #343a40;
    font-weight: 600;
}

#sum {
    margin-top: 8px;
}


/* Nút */
.btn {
    width: 150px;
    font-size: 1.2rem;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    margin: 0;
    text-decoration: none;
    
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    padding: 14px 0;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    text-align: center;
}

.btn-primary:hover {
    background-color: #0056b3;
}


/* Responsive */
@media screen and (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .table th, .table td {
        font-size: 14px;
        padding: 10px;
    }

    h2 {
        font-size: 22px;
    }
}
